<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body>
  <div class="login-form">
    <div class="container">
      <div class="main">
        <div class="content">
          <h2>Log in</h2>
          <form action="" method="post">
            <input type="text" name="email" placeholder="Email" required autofocus>
            <input type="password" name="" placeholder="Password" required>
            <button class="btn">
              Submit
            </button>
          </form>
        </div>
        <div class="form-img">
          <img src="../../assets/vecteezy_cloud-computing-modern-flat-concept-for-web-banner-design_5879539.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</body>
</html>
