<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDafoQ04IBS0C1hoDANhdSk9bRw91y6zpo</string>
	<key>GCM_SENDER_ID</key>
	<string>374972235161</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.xeroxApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>xerox-app-e3b49</string>
	<key>STORAGE_BUCKET</key>
	<string>xerox-app-e3b49.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:374972235161:ios:de55c576c17f39c226a708</string>
</dict>
</plist>